*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #EAECCC;
    color:black;
    /* background-image: url(https://images.pexels.com/photos/207740/pexels-photo-207740.jpeg?auto=compress&cs=tinysrgb&w=1260& h=750&dpr=1); */

}

#webcam {
  position: fixed;
    bottom: 20px;
    right: 20px;
    width: 200px; /* Adjust width as needed */
    height: auto; /* Auto-adjust height */
    border: 5px solid black; /* Optional border for visibility */
    border-radius: 10px;
  }
  .emotions{
    position: fixed;
    bottom: 180px;
    right: 20px;
    font-size: 20px;
    text-transform: uppercase;
    color: #CD8D7A;
  }
  .nav{
    margin: 0 auto;
    background-color: #DBCC95;
    width: 100%;
    height: 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #c65e3e;
    padding: 10px 10px;
  }
  .nav .logo{
    letter-spacing: .3px;
   
    
  }
  .logs{
    cursor: pointer;
  }
  .logs-container{
    position:absolute;
    width: 200px;
    height: 300px;
    background-color: #C3E2C2;
    top: 100px;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }
  .logs-container p{
    color: #CD8D7A;
    font-size: 30px;
    margin: 0 5px;
  }
 
   .warningText{
    width: 100%;
    height: 200px;
    /* background-color: #FFD1E3; */
    color: red;
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 250px auto;
    
  } 
  .warningText h1{
    font-size: 50px;
  } */
  .warningText h1{
    color: red;
    
  }